<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carmanager">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarManager"
        >
        <activity android:name=".fullscreenImage_activity">
        </activity>
        <activity
            android:name=".vehiclessetting_activity"> </activity>
        <activity
            android:name=".statistics_activity" />
        <activity
            android:name=".addreminder_activity" />
        <activity
            android:name=".search_expense_activity"
          />
        <activity
            android:name=".view_expenses_activity" />
        <activity
            android:name=".save_expenses_activity"
            android:label="Save Expense"
            android:parentActivityName=".dashboard_activity"> </activity>
        <activity
            android:name=".add_expenses_activity"
            android:parentActivityName=".dashboard_activity"
            android:theme="@style/no_actionbar"> </activity>
        <activity
            android:name=".dashboard_activity"
            android:theme="@style/no_actionbar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>